body {
    color: aqua;
    background: black;
    margin: 0px;
    font-family: "Pacifico", system-ui;
}

header {

    border-bottom: solid rgb(85, 217, 235);
    padding: 20px;
    font-size: 32px;
    color: rgb(85, 217, 235);
}

section{
    background: rgb(6, 76, 122);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

    .chamada-texto{
    margin-right: 10%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

img{
    height: 200px;
}